
.education-text{
    /* font-size: 2.25rem;    */
    font-weight: 700;     /* font-bold */
    text-align: center;   /* text-center */
    /* margin-bottom: 3rem;   */
    font-family: Lucida Handwriting, Brush Script MT, Cursive;
    font-size: 32px;
    margin-bottom: 30px;

}