

  .project-card {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #fff;
  }
  .project-title{
    font-size: 35px;
    padding-bottom: 10px;
    font-family: Garamond, serif;
   
    
  }
  .project-desc{
    padding-top: 8px;
  }
  
  .project-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .project-text {
    flex: 1;
    min-width: 250px;
  }
  
  .project-image {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }
  
  .tech-stack-section {
    margin: 10px 0;
  }
  
  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
  }
  
  .tech-item {
    /* background-color: #6c5ce7; */
    background-color: #2A5C5A;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .project-links {
    margin-top: 10px;
  }
  
  .project-links a {
    display: inline-block;
    background-color: #fff;
    color: #6c5ce7;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  /* Mobile adjustments */
  @media (max-width: 768px) {
    .project-card {
      padding: 15px;
      width: 95%;
    }
  
    .project-card h3 {
      font-size: 20px;
    }
  
    .project-card p {
      font-size: 12px;
    }
  
    .project-card img {
      max-width: 150px;
    }
  
    .tech-stack span {
      padding: 4px 8px;
      font-size: 12px;
    }
  
    .links a {
      padding: 4px 8px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .project-card {
      padding: 10px;
    }
  
    .project-card h3 {
      font-size: 18px;
    }
  
    .project-card p {
      font-size: 10px;
    }
  
    .project-card img {
      max-width: 120px;
    }
  
    .tech-stack span {
      padding: 3px 6px;
      font-size: 10px;
    }
  
    .links a {
      padding: 3px 6px;
      font-size: 10px;
    }
  }
 /* New */
  @media (max-width: 768px) {
    .project-content {
      flex-direction: column;
      align-items: center;
    }
  
    .project-text, .project-image {
      width: 100%;
      text-align: center;
    }
  
    .project-image img {
      max-width: 100%;
    }
  
    .tech-stack {
      justify-content: center;
    }
  
    .project-links {
      justify-content: center;
    }
  }
  