body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: #6b48ff; */
  background: #06402B;
}

.App {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}